
*.pyc

*.sqlite3

Back/pedaap/Apps/Notificaciones/migrations/

Back/pedaap/Apps/Presupuestos/migrations/

Back/pedaap/Apps/PresupuestosCompartidos/migrations/

Back/pedaap/Apps/Productos/migrations/

Back/pedaap/Apps/Promociones/migrations/

Back/pedaap/Apps/Restaurantes/migrations/

Back/pedaap/Apps/Tiendas/migrations/

Back/pedaap/Apps/Usuarios/migrations/
